@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', 'Noto Sans Arabic', sans-serif;
  }
}

/* Fix for mixed language in charts (Arabic/Urdu) */
.recharts-text, 
text,  
tspan {
    font-family: 'Poppins', 'Noto Sans Arabic', sans-serif !important;
}

@media print {

    /* Hide non-printable elements */
    .no-print {
        display: none !important;
    }

    /* Ensure all background colors print */
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}